/* Global */

body {

    background: #121139;
    ;
    font-family: 'Vollkorn', serif;
    ;

}

a {
    text-decoration: none;
}

/*Header */
.logo {
    margin-left: 85px;
    margin-top: 10px;
}


/*conteudo main */

.content {

    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 60px;

}

.title-scale {
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 100%;
    background: linear-gradient(263.24deg, #9130F4 20%, #4646F9 77.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title-safe {
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 27px;
    gap: 10px;
    width: 140px;
    height: 18px;
    color: #FFFFFF;
    border: 3px solid transparent;
    border-image: linear-gradient(263.24deg, #9130F4 20%, #4646F9 77.63%);
    border-image-slice: 1;
    font-size: 22px;
}

.buton:hover {

    border: 3px solid #FFFFFF;
    transition: 1s;

}

.subtitle {

    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: #FFFFFF;

}

/* credit card 1 */


.card-1 {

    width: 619px;
    height: 359px;
    background: linear-gradient(263.24deg, #9130F4 21.05%, #4646F9 77.63%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: -20px -30px 100px 24px #9230f48d;
}

.card-1-p {

    display: grid;
    justify-self: flex-start;
}

.card-1-p>p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

.card-1-p p:first-child {

    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.54;
    margin-top: 54px;
    margin-left: 65px;
}

.card-1-p p:nth-child(2) {

    font-size: 48px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: 60px;
}

.card-1-p p:nth-child(3) {
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.9;
    margin-top: 54px;
    margin-left: 70px;

}

.group {

    margin-left: 160px;
    margin-top: 42px;
}



.card-2 {

    height: 290px;
    width: 223px;
    background: linear-gradient(263.24deg, #9130F4 21.05%, #4646F9 77.63%);
    border-radius: 30px;
    margin-left: 425px;
    margin-top: -210px;
    box-shadow: -30px -30px 100px 24px #9230f4b0;
}


.card-2>p {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell;
}

.mastercard-2 {

    margin-left: 24px;
    margin-top: 28px;
}

.card-2 p:nth-child(2) {
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 18px;
    margin-top: 24px;
    margin-left: 24px;

}

.secret-password {
    display: flex;
    gap: 14px;
    margin-left: 26px;
}

.card-2 p:nth-child(4) {
    color: #FFFFFF;
    line-height: 162.7%;
    font-weight: 500;
    margin-top: -18px;
    margin-left: 105px;
}

.chip-card {
    margin-left: 20px;
    margin-top: 40px;
}

.card-2 p:nth-child(6) {

    color: #FFFFFF;
    line-height: 162.7%;
    font-weight: 500;
    margin-top: -36px;
    margin-left: 150px;
}

/* marcas */

.marcas {

    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

/* responsivo */

@media(max-width:1335px) {

    .subtitle {
        font-size: 20px;
    }

    .title-scale {

        font-size: 50px;
    }

    .title-safe {
        font-size: 40px;
    }
}

@media(max-width:1150px) {

    /* .card-1,
    .card-1-p,
    .group {
        display: none;
    }*/

    .content {
        grid-template-columns: 1fr;
        gap: 60px;
    }

}

@media (max-width:690px) {

    .card-1 {
        max-width: 500px;
        margin-left: 60px;
    }

    .group {
        margin-left: 120px;
    }

    .card-2 {
        margin-left: 200px;
        margin-top: 10px;
    }

}